/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_L 0
#define SYMBOLS_L 1
#define ARROWS_L  2
#define NUMBERS_L 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEF";
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E         &kp R       &kp T        &kp Y          &kp U       &kp I          &kp O    &kp P          &kp BSPC
&kp TAB    &kp A  &kp S  &kp D         &hm LCMD F  &kp G        &kp H          &hm LCMD J  &kp K          &kp L    &kp SEMICOLON  &kp RET
&kp LCTRL  &kp Z  &kp X  &kp C         &kp V       &kp B        &kp N          &kp M       &kp COMMA      &kp DOT  &kp SLASH      &kp SQT
                         &kp LEFT_ALT  &kp LSHFT   &kp SPACE    &mo SYMBOLS_L  &mo 2       &mo NUMBERS_L
            >;
        };

        symbols_layer {
            label = "SYMB";
            bindings = <
&kp ESC    &kp EXCL  &kp AT  &kp HASH      &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS  &kp STAR       &kp MINUS  &kp EQUAL   &kp BSPC
&kp TAB    &none     &none   &none         &none      &kp PLUS     &kp HOME   &kp LBRC  &kp RBRC       &kp END    &kp BSLH    &kp RET
&kp LCTRL  &none     &none   &none         &none      &kp MINUS    &kp LBKT   &kp LPAR  &kp RPAR       &kp RBKT   &kp DELETE  &none
                             &kp LEFT_ALT  &kp LSHFT  &kp SPACE    &to 0      &to 2     &to NUMBERS_L
            >;
        };

        arrows_layer {
            label = "NAV";
            bindings = <
&kp ESC    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR      &none           &none           &none          &none  &none  &kp BSPC
&kp TAB    &none         &kp C_PP      &kp C_VOL_DN  &kp C_VOL_UP  &kp C_BRI_UP    &none           &kp UP_ARROW    &none          &none  &none  &kp RET
&kp LCTRL  &none         &none         &kp C_PREV    &kp C_NEXT    &kp C_BRI_DN    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT      &none  &none  &none
                                       &kp LEFT_ALT  &kp LSHFT     &kp SPACE       &to 0           &to 1           &to NUMBERS_L
            >;
        };

        numbers_layer {
            label = "NUM";
            bindings = <
&kp ESC    &none  &none  &none         &none      &none        &none       &hm F7 N7  &hm F8 N8  &hm F9 N9  &none        &hm DEL BSPC
&kp TAB    &none  &none  &none         &kp STAR   &kp PLUS     &kp EQUAL   &hm F4 N4  &hm F5 N5  &hm F6 N6  &hm F12 DOT  &kp RET
&kp LCTRL  &none  &none  &none         &kp FSLH   &kp MINUS    &hm F10 N0  &hm F1 N1  &hm F2 N2  &hm F3 N3  &kp COMMA    &none
                         &kp LEFT_ALT  &kp LSHFT  &kp SPACE    &to 0       &to 1      &to 2
            >;
        };
    };
};
